---
layout: default
---

<section <script type="text/javascript" id="WolframAlphaScriptb2892f5c37dad0a6b8203c60e8520652" src="//www.wolframalpha.com/widget/widget.jsp?id=b2892f5c37dad0a6b8203c60e8520652"></script>class="standalone">
  <div class="grid">

    <div class="unit whole">
      <article>
        <h1>{{ Studiogit }}</h1>
        {{ Getting to the science behind great music! }}
      </article>
    </div>

    <div class="clear"></div>

  </div>
</section>
<script type="text/javascript" id="WolframAlphaScript8ae2257883288ca06141f416318384cc" src="//www.wolframalpha.com/widget/widget.jsp?id=8ae2257883288ca06141f416318384cc"></script>